!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title= content_for?(:title) ? (yield(:title) + " - Iugu UX Development") : "Iugu UX Development"
    = csrf_meta_tags

    = stylesheet_link_tag    "iugu-ux"
    = javascript_include_tag "vendor"
    = javascript_include_tag "iugu-ux"

    %meta{ 'http-equiv' => "Content-Type", 'content' => "text/html; charset=UTF-8" }
    %meta{ 'http-equiv' => "cleartype", 'content' => "on" }
    %meta{ 'http-equiv' => "X-UA-Compatible", 'content' => "IE=edge,chrome=1" }

    -# Mobile capabilities
    %meta{ name:"HandheldFriendly", content:"True" }
    %meta{ name:"MobileOptimized", content:320 }
    %meta{ name:"format-detection", content:"telephone=no" }
    %meta{ name:"viewport", content:"width=device-width, initial-scale=1, maximum-scale=1" }
    %meta{ name:"apple-mobile-web-app-capable", :content => "yes" }

  %body{ :class => "iugu-ui #{action_name == "components" ? 'applicationBackground':''}" }


    .content{ :style => "margin:20px" }
      .wrapper{ :style => "max-width:860px;margin-left:auto;margin-right:auto;position:relative" }

        = yield
